# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

/.sass-cache/
/.DS_Store
/uploads/
/themes/twentytwelve/
/plugins/.DS_Store
/plugins/akismet/
/plugins/wordpress-importer/
01c4d211c63f4a4fa0f56f31a9619246ccdaf2e2
/themes/harvestsf2013/assets/img/.DS_Store
/themes/harvestsf2013/.DS_Store
/themes/harvestsf2013/.sass-cache/
